*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-bars {
  font-size: 22px !important;
  padding: 6px 16px !important;
  border-color: rgb(126, 124, 124) !important;
  color: rgb(187, 184, 184) !important;
}

.fa-camera {
  font-size: 20px !important;
  margin-right: 3px;
}

.fa-bars {
  cursor: pointer;
}

.nav-container {
  margin-inline: 70px !important;
}

.action-btns button {
  font-size: 16px !important;
}

.view { 
  border: 1px solid rgb(119, 118, 118) !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 4px 8px !important;
}

.edit {
  border: 1px solid rgb(119, 118, 118) !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-left: 0 !important;
  padding: 4px 8px !important;
}

.view:hover,
.edit:hover {
  background-color: rgb(119, 118, 118) !important;
  color: rgb(255, 253, 253) !important;
}

button {
  font-size: 14px !important;
}

.nine-mins {
  font-size: 13px;
  color: rgb(145, 144, 144) !important;
}
